
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    padding: 0;
    margin: 0;
  }

  header {
      background-color: #708090;
      height: 150px;
  }

  .logo {
      float: left
  }

  ul {
      float:left;
      background-color: white;
      height: 35px;
      border-radius: 2%;
      align-self: center;
  }

  li {
      float: left;
      list-style-type: none;
  }

  main {
      background-color: white;
      border-radius: 16px;
      padding-top: 1px;
      padding-left: 10px;
      margin: 10px;
  }

  h2 {
      color: #FE8D3F;
      letter-spacing: .6rem;
      font-weight: 500;
      margin-top: 15px;
  }

  h4 {
      text-align: center;
  }

  .card {
    color: white;
    padding: 16px;
    margin: 5px;
    /* text-align: justify; */
    background-color: #FE8D3F;
    border-radius: 10px;
    font-size: normal;
    width: 200px;
  }

  .container{
      display: flex;
      flex-wrap: wrap;
  }

  .container1 {
      display: flex;
      justify-content: space-between;
      text-align: justify;
      /* border: 2px solid green; */
  }

  .center {
      text-align: center;
  }

  .left {
      text-align: left;
      width: 75px;
      margin-left: 5px;
      /* border: 1px solid black */
  }

  .right {
      text-align: left;
      width: 85px;
      padding-right: 15px;
      /* border: 1px solid red */
  }

  .prod_desc {
      text-align: left;
      padding-right: 25px;
  }

  hr {
      border-top: 0;
      border-bottom: black 1px solid;
  }
